<div id="page">
	<div id="content">
		<div class="login">
			Sign in / sign up by clicking one of the providers below
		</div>
		<div class="login">
			<%= link_to image_tag("jurgen_appelo_twitter.png", :alt => "Twitter"), '/auth/twitter' %>
			<%= link_to image_tag("jurgen_appelo_facebook.png", :alt => "Facebook"), '/auth/facebook' %>
			<%= link_to image_tag("jurgen_appelo_google_oauth2.png", :alt => "Google+"), '/auth/google_oauth2' %>
			<%= link_to image_tag("jurgen_appelo_linkedin.png", :alt => "LinkedIn"), '/auth/linkedin' %>
		</div>
	</div>
</div>